<!DOCTYPE html>
<html>
<head>
    <title>Worker Availability</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="layout">

  <div class="sidebar">

    <h2>WeighCare</h2>

    <a href="/">Home</a>
    <a href="/about">About Us</a>
    <a href="/products">Products</a>
    <a href="/pricing">Pricing</a>
    <a href="/availability">Availability</a>
    <a href="/contact">Contact</a>
    <a href="/login">Customer Login</a>
    <a href="/login2">Admin Login</a>

</div>

    <div class="content">

        <h1>Check Worker Availability</h1>

        <input type="date"><br><br>

        <button>Check Availability</button>

        <h3>Available Workers</h3>

        <ul>
            <li>Worker A — Morning</li>
            <li>Worker C — Evening</li>
        </ul>

    </div>

</div>

</body>
</html>