<!DOCTYPE html>
<html>
<head>
    <title>Repair Pricing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="layout">
<div class="sidebar">

    <h2>WeighCare</h2>

    <a href="/">Home</a>
    <a href="/about">About Us</a>
    <a href="/products">Products</a>
    <a href="/pricing">Pricing</a>
    <a href="/availability">Availability</a>
    <a href="/contact">Contact</a>
    <a href="/login">Customer Login</a>
    <a href="/login2">Admin Login</a>

</div>

    <div class="content">

        <h1>Common Repair Costs</h1>

        <ul>
            <li>Calibration - ₹1000</li>
            <li>Load Cell Replacement - ₹4000</li>
            <li>Display Repair - ₹1500</li>
        </ul>

    </div>

</div>

</body>
</html>