<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="layout">

 <div class="sidebar">

    <h2>WeighCare</h2>

    <a href="/">Home</a>
    <a href="/about">About Us</a>
    <a href="/products">Products</a>
    <a href="/pricing">Pricing</a>
    <a href="/availability">Availability</a>
    <a href="/contact">Contact</a>
    <a href="/login">Customer Login</a>
    <a href="/login2">Admin Login</a>

</div>

    <div class="content">

        <h1>Available Machines</h1>

        <ul>
            <li>Digital Weighing Machine - ₹5000</li>
            <li>Platform Scale - ₹15000</li>
            <li>Weigh Bridge System - ₹2,50,000</li>
        </ul>

    </div>

</div>

</body>
</html>